<html>
  <head>
    <title> SMB's cypher</title>
    <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <style>
        body{
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-image:url("images/back.jpg");background-image:url("images/back.jpg");
    
    
}
h1{
    font-size:50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top:5%;
}

div{
    width: 700px;
    position: absolute;
    left:50%;
    top:60%;
    background-color:rgb(236, 232, 232);
    transform: translate(-50%, -50%);
    border-radius: 15px;
    box-shadow: 1px 3px 10px;
}

.RegisterClass{
    margin-top: 200px;
}
  </style>
  <body>
      <h1>Login page</h1>
      <div>
      <form name="login" action="/log/sign" method="post">
        <table>
          <p class="informations"> E-mail</p>
          <input type="text" placeholder="Insert your mail" name="useremail">

          <p class="informations"> Password</p>
          <input type="password" placeholder="Insert your password" name="userpassword">
          <br>
          <button type="submit" id="login">Log In</button>
      </table>
    </form>
    </div>
    <div class="RegisterClass">
      <p>
        <p> Doesn't have an account yet ? </p>
        <a href="/log/sign">Register Now !</a>
      </p>
    </div>
  </body>
</html>